<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.supinfo.cubbyholeapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="14" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light" >
        <activity
            android:name="com.supinfo.cubbyholeapp.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.supinfo.cubbyholeapp.LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName="com.supinfo.cubbyholeapp.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.supinfo.cubbyholeapp.RegisterActivity"
            android:label="@string/title_activity_register"
            android:parentActivityName="com.supinfo.cubbyholeapp.LoginActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.supinfo.cubbyholeapp.EditProfilActivity"
            android:label="@string/title_activity_edit_profil"
            android:parentActivityName="com.supinfo.cubbyholeapp.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.supinfo.cubbyholeapp.OptionServeurActivity"
            android:label="@string/title_activity_option_serveur"
            android:parentActivityName="com.supinfo.cubbyholeapp.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.supinfo.cubbyholeapp.FichierDetailActivity"
            android:label="@string/title_activity_fichier_detail"
            android:parentActivityName="com.supinfo.cubbyholeapp.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.supinfo.cubbyholeapp.GenerationActivity"
            android:label="@string/title_activity_generation"
            android:parentActivityName="com.supinfo.cubbyholeapp.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.supinfo.cubbyholeapp.FichierDetailPartageActivity"
            android:label="@string/title_activity_fichier_detail_partage"
            android:parentActivityName="com.supinfo.cubbyholeapp.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.supinfo.cubbyholeapp.ContactActivity"
            android:label="@string/title_activity_contact"
            android:parentActivityName="com.supinfo.cubbyholeapp.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.supinfo.cubbyholeapp.FichierPartageActivity"
            android:label="@string/title_activity_fichier_partage"
            android:screenOrientation="portrait"
            android:parentActivityName="com.supinfo.cubbyholeapp.MainActivity" >
        </activity>
    </application>

</manifest>
